@import "variables";
@import "mixin";
@import "reset";
@import "sections/sections";
@import "mixin";

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Montserrat:400,400i,700,700i&display=swap');
.container{
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.d-flex {
  @include flex;
}

.flex-between{
  @include flex-between;
}

.flex-center{
  @include flex-center;
}